/**
 * \brief        This procedure is used to do nothing in particular.
 *               
 * Right here is where you would put the longer description
 * of what the function does particularly.
 *
 * \param param1 The first parameter
 * \param param2 Another parameter
 * \return       None
 * \pre          None
 * \post         None
 */
