# Local server helpfile rename this to local.hlp and add topics to this
# file in the form:
#
# ^TOPIC:<topic>
#      text here
# ^END
# 
# NOTE: ^PAGE, ^TOPIC, and ^COMMAND are -NOT- the same
#
# ^PAGE is a token used internally by the services helpfile
# generator to preserve the format of services' helpfiles
#
# ^COMMAND is intended to be used in irc.hlp and oper.hlp
# to detail usage on IRC commands.
#
# No special tokens other than ^PAGE, ^END, and perhaps ^LINE should be
# present in the local server helpfile.
#

#^TOPIC:POLICY
# No bots are allowed here.
#^END
#

# /* End of local server help */
